<?xml version="1.0"?>
<web-app id="WebApp_ID" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>logs-basic-rest-api</display-name>
    <description>Logs - BASIC RESTful web services API</description>

    <!-- @WebListener annotation -->
    <listener>
        <listener-class>com.craneos.demos.InitJavaxListener</listener-class>
    </listener>

    <!-- @WebServlet annotation -->
    <servlet>
        <servlet-name>ExampleWebServletName</servlet-name>
        <servlet-class>com.craneos.demos.servlet.ExampleWebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExampleWebServletName</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>